<!--<div class="row">
	<aside class="col-md-3">
		<ul class="nav nav-pills nav-stacked">
			<li ui-sref-active="active">
				<a href="" ui-sref=".settings"><i class="fa fa-cog"></i> Account Settings</a>
			</li>
			<li ui-sref-active="active">
				<a href="" ui-sref="myAddresses"><i class="fa fa-map-marker"></i> My Addresses</a>
			</li>
			<li>
				<a href=""><i class="fa fa-credit-card"></i> Payment Methods</a>
			</li>
			<li>
				<a href=""><i class="fa fa-clock-o"></i> Order History</a>
			</li>
		</ul>
	</aside>
	<article class="col-md-9" ui-view></article>
</div>-->
<ui-view></ui-view>