<article>
    <ol class="breadcrumb">
        <li>
            <a href="" ui-sref="productBrowse.products({categoryid:category.ID})">All Products</a>
        </li>
        <li ng-repeat="crumb in productBrowse.breadcrumb">
            <a href="" ui-sref="productBrowse.products({categoryid:crumb.ID})">{{crumb.Name}}</a>
        </li>
    </ol>
    <div class="row">

        <!--TODO: Waiting for EX-980 to be complete for the catalog select directory-->
        <!--<ordercloud-select-catalog></ordercloud-select-catalog>-->


        <!--START CATEGORY TREE-->
        <aside class="col-md-3 visible-md visible-lg">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b class="panel-title">Categories</b>
                </div>
                <treecontrol class="oc-tree"
                             tree-model="productBrowse.treeData"
                             options="productBrowse.treeOptions"
                             selected-node="productBrowse.selectedNode"
                             expanded-nodes="productBrowse.expandedNodes"
                             on-selection="productBrowse.selectNode(node)">
                    {{node.Name}}
                </treecontrol>
                <div class="panel-heading">
                    <b class="panel-title">Refine By</b>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span ng-click="productBrowse.toggleFavorites()">
                            <i class="fa" ng-class="{'fa-heart-o text-muted': !productBrowse.parameters.favorites, 'fa-heart text-danger': productBrowse.parameters.favorites}"></i> My Favorites
                        </span>
                    </li>
                    <li class="list-group-item" ng-repeat="supplier in productBrowse.suppliers.Items">
                        <span ng-click="productBrowse.toggleSupplier(supplier)">
                            <i class="fa" ng-class="{
                                'fa-circle-o text-muted': productBrowse.parameters.suppliers.indexOf(supplier.ID) == -1 || !productBrowse.parameters.suppliers,
                                'fa-circle text-primary': productBrowse.parameters.suppliers.indexOf(supplier.ID) > -1
                            }"></i>
                            {{supplier.CompanyName}}
                        </span>
                    </li>
                </ul>
            </div>
        </aside>
        <!--END CATEGORY TREE-->

        <!--PRODUCT LIST VIEW-->
        <div class="col-md-9" ui-view></div>
    </div>
</article>
