body {
  padding-top: 0;
}

//Buyer Select
.btn-select-buyer {
  border-radius: @nav-pills-border-radius;
  border-left: none;
  // background-color: @side-nav-bg;
  // border-color: lighten(@side-nav-bg,10%);
  color: #ffffff; //TODO: variable
}

//Buttons
.btn {
  text-transform: uppercase;
}

//Pills
.nav-pills {
  > li {
    > a {
      color: #a5b1b7; //TODO: variable
      font-weight: 400;

      &:hover,
      &:focus {
        background-color: darken(@nav-pills-active-link-hover-bg, 10%);
      }
    }

    &.active > a {
      font-weight: 900;
    }

    > h4 {
      font-size: 11px; //TODO: variable
      font-weight: 400;
      padding: @nav-link-padding;
    }
  }
}

//Panels
.panel-default {
  > .panel-heading {
    font-weight: 900;
  }
}

//toastr
.toast-success {
  background-color: @brand-primary;
}

//cards
.c-product-card {
  margin-bottom: @grid-gutter-width;
  &__img {
    padding: @grid-gutter-width / 2;
  }
}

//product image
.c-product__img {
  img {
    margin-left: auto;
    margin-right: auto;
  }
}

// line item
.c-line-item__remove {
  .btn-link {
    color: @cups-dark;
  }
}