<article>
    <h3>
        <div class="pull-right">
            <button  ng-if="cart.lineItems.Items.length" ng-click="cart.cancelOrder()" class="btn btn-default"><span class="text-danger">Cancel Order</span>
            </button>
            <button  ui-sref="productBrowse.products" class="btn btn-default">Continue Shopping</button>

        </div>
        Shopping Cart
    </h3>
    <hr>
    <div class="well text-center" ng-if="!cart.lineItems.Items.length">You do not have any items in your cart.</div>
    <div class="row" ng-if="cart.lineItems.Items.length">
        <aside class="col-md-4 col-md-push-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Order Summary
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        <ng-pluralize count="cart.lineItems.Meta.TotalCount" when="{
							'1': '1 Item in Your Cart',
							'other': '{} Items in Your Cart'
						}"></ng-pluralize>
                    </p>
                    <h4>Subtotal: <span class="text-success pull-right">{{cart.order.Subtotal | currency}}</span></h4>
                </div>
                <div class="panel-footer">
                    <button ng-if="cart.lineItems.Items.length > 0" type="button" ui-sref="checkout" class="btn btn-block btn-primary"  ng-disabled="OrderLineItemForm.$invalid">Proceed to Checkout</button>
                </div>
            </div>
        </aside>
        <div class="col-md-8 col-md-pull-4">
            <form name="OrderLineItemForm" class="panel panel-default">
                <table class="table table-hover">
                    <colgroup>
                        <col style="width:100px;">
                        <col style="width:100px;">
                        <col style="width:100px;">
                        <col style="width:75px;">
                        <col style="width:75px;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th colspan="2">Product Info</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="lineItem in cart.lineItems.Items track by $index">
                        <td>
                            <div class="thumbnail">
                                <img class="img-responsive" ng-src="{{lineItem.xp.image.URL || 'http://placehold.it/100x100?text=' + lineItem.Product.Name}}" alt="{{lineItem.Product.xp.image.Name || 'Product Image'}}">
                            </div>
                        </td>
                        <td>
                            <a href="#">{{lineItem.Product.Name}}</a><br>
                            <small class="text-muted">{{lineItem.ProductID}}</small>
                            <div ng-if="lineItem.Specs.length > 0">
                                <div ng-repeat="spec in lineItem.Specs">
                                    <small>{{spec.Name}}:</small>
                                    <small>{{spec.Value}}</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="lead text-success">{{lineItem.LineTotal | currency}}</p>
                        </td>
                        <td>
                            <div class="lineitem-qty-input-container">
                                <div class="lineitem-qty-input">
                                    <oc-quantity-input lineitem="lineItem" controlleras="cart"></oc-quantity-input>
                                </div>
                                <div class="lineitem-remove-btn">
                                    <button class="btn btn-default" ng-click="cart.removeItem(lineItem)"><span class="text-danger"><i class="fa fa-trash-o"></i></span></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="form-group">
        <button ng-if="cart.lineItems.Items.length > 0" type="button" ui-sref="checkout" class="btn btn-block btn-primary hidden-lg hidden-md" ng-disabled="OrderLineItemForm.$invalid">Proceed to Checkout</button>
    </div>
</article>