<div class="panel panel-default">
    <div class="panel-heading"><b>Billing</b></div>
    <div class="panel-body">
        <div ng-if="!checkoutBilling.customAddress">
            <div class="form-group" ng-if="checkoutBilling.billingAddresses.length">
                <label for="billing_address">Billing Address</label>
                <select id="billing_address" required="true" name="BillingAddress" ng-change="checkoutBilling.SaveBillingAddress(checkout.currentOrder);" ng-model="checkout.currentOrder.BillingAddressID" class="form-control" ng-options="address.ID as (address.AddressName || address.Street1 + ' ' + address.Street2) for address in checkoutBilling.billingAddresses"></select>
            </div>
            <p id="address_paragraph" ng-if="checkout.currentOrder.BillingAddress" ng-bind-html="checkout.currentOrder.BillingAddress | address: 'full'"></p>
        </div>
        <div class="form-group">
            <button type="button" ng-click="checkoutBilling.createAddress()" class="btn btn-success"><i class="fa fa-plus-circle"></i> Create Address</button>
        </div>
    </div>
</div>