<div class="l-cups-wrapper" ng-class="{'toggled': isToggled}">
    <!--<header class="c-header c-header--fixed-top">
        <nav ui-view="nav"></nav>
    </header>-->
    <aside class="l-cups-wrapper__sidebar">
        <nav class="c-cups-sidebar">
            <header class="c-cups-sidebar__header">
                <a ui-sref="home" class="c-cups-sidebar__brand" data-ng-click="isToggled = !isToggled"><img src="assets/images/cups_logo.png" alt="CUPS"></a>
            </header>
            <ul class="nav nav-pills nav-stacked c-cups-nav--stacked">
                <li class="c-cups-nav__header">Suppliers</li>
                <li role="presentation"><a ui-sref="productBrowse.products({page:'', favorites:'', sortBy:'', categoryid:''})" data-ng-click="isToggled = !isToggled">Browse</a></li>
                <li class="c-cups-nav__divider"></li>
                <li class="c-cups-nav__header">Account</li>
                <li><a ui-sref="account.settings" data-ng-click="isToggled = !isToggled">Settings</a></li>
                <li><a ui-sref="myAddresses" data-ng-click="isToggled = !isToggled">My Addresses</a></li>
                <li><a ui-sref="favoriteProducts" data-ng-click="isToggled = !isToggled">My Favorite Products</a></li>
                <li class="c-cups-nav__divider"></li>
                <li><a ng-click="application.logout()" data-ng-click="isToggled = !isToggled">Logout</a></li>
            </ul>
        </nav>
    </aside>
    <div class="l-cups-wrapper__content">
        <header>
            <a class="btn btn-default menu-toggle" data-ng-click="isToggled = !isToggled">Toggle Menu</a>
            <div class="c-topnav__item c-topnav__search hidden-lg hidden-md">
                <a href="" ng-click="base.mobileSearch()"><i class="fa fa-search"></i></a>
            </div>
            <ordercloud-product-search class="c-topnav__item c-topnav__search hidden-xs hidden-sm"></ordercloud-product-search>
            <div class="c-topnav__item c-topnav__cart">
                <a ui-sref="cart" ui-sref-opts="{reload:'base'}"><i class="fa fa-shopping-cart"></i> <span class="sr-only">Shopping Cart</span> <span class="badge" ng-bind="base.currentOrder.LineItemCount"></span></a>
            </div>
        </header>
        <main ui-view cg-busy="application.stateLoading"></main>
    </div>
</div>
